{% extends 'base.html'%} {% load static %} {% block content %}

<style>
  .about {
    display: flex;
    gap: 10px;
    padding: 60px 20px;
  }
  .about h1 {
    font-size: 60px;
  }

  .about img {
    width: 570px;
  }
  .about div {
    margin-top: 20px;
    font-size: 20px;
  }
  .about div p {
    margin-top: 15px;
  }
</style>
<section class="container about">
  <article>
    <h1>About Us</h1>
    <div>
      <p>
        Based in Chicago, Illinois, Little Lemon is a family owned Mediterranean
        restaurant, focused on traditional recipes served with a modern twist.
      </p>
      <p>
        The chefs draw inspiration from Italian, Greek, and Turkish culture and
        have a menu of 12-15 items that they rotate seasonally.
      </p>
      <p>
        The restaurant has a rustic and relaxed atmosphere with moderate prices,
        making it a popular place for a meal any time of the day.
      </p>
      <p>
        Little Lemon is owned by two Italian brothers, Mario and Adrian, who
        moved to the United States to pursue their shared dream of owning a
        restaurant.
      </p>
      <p>
        To craft the menu, Mario relies on family recipes and his experience as
        a chef in Italy.
      </p>
      <p>
        Adrian does all the marketing for the restaurant and led the effort to
        expand the menu beyond classic Italian to incorporate additional
        cuisines from the mediterranean region.
      </p>
    </div>
  </article>
  <article>
    <img src="{% static 'img/mario-and-adrian.jpg' %}" />
    <p>Little Lemon owners Mario and Adrian.</p>
  </article>
</section>

{% endblock %}
