{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
  .landing article {
  position: relative;
  background-image: url("../static/img/restaurant_inside.jpg");
  height: 220px;
  background-size: cover;
  background-position: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.landing article::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #00000078;
}

.landing article h1 {
  font-size: 60px;
  position: relative;
  padding-top: 30px;
}
.landing article h3 {
  font-size: 30px;
  padding-top: 5px;
  position: relative;
}

.landing article button {
  margin-top: 13px;
  position: relative;
  background-color: transparent;
  border: 3px solid #fff;
  padding: 5px 40px;
}
.landing article button a {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}
.landing article button:hover {
  background-color: #495e57;
  cursor: pointer;
  border-color: transparent;
}

.features {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
}
.features article {
  border: 1px solid #dadada;
  padding-left: 20px;
  padding-top: 20px;
}
.features h1 {
  font-size: 35px;
  margin-bottom: 15px;
}
.features img {
  width: 360px;
}

.features p {
  margin-top: 15px;
  font-size: 18px;
  margin-bottom: 50px;
}

</style>
<section class="landing container">
  <article>
    <h1>SPECIAL OFFER</h1>
    <h3>30% Off This Weekend</h3>
    <button><a href="#">Book now</a></button>
  </article>
</section>
<section class="features container">
  <article>
    <h1>Our New Menu</h1>
    <img src="{% static 'img/Grill.jpg' %}">
    <p>Our menu consists of 12-15 seasonal items based on Italian, Greek, and Turkish culture.</p>
  </article>
  <article>
    <h1>Book a table</h1>
    <img src="{% static 'img/salad.jpg' %}">
    <p>Reserve your table for an Italian, Greek, and Turkish dining experience.</p>
  </article>
  <article>
    <h1>Opening Hours</h1>
    <img src="{% static 'img/head_chef.jpg' %}">
    <p>The Little Lemon Restaurant is open 7 days a week, except for public holidays.</p>
  </article>
</section>

{% endblock %}